body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: $textbrand-color;
  // background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea {
  font-family: "Open Sans", "Arial", sans-serif;
  color: $textbrand-color;
}
