.catalog-item {
  margin-bottom: 30px;
}

.catalog-item__header {
  line-height: 0;
  // outline: 1px solid red;
}

.catalog-item__picture {
  display: block;
  width: 260px;
  height: 195px;
  margin: 0 auto;
}

.catalog-item__image {
  // display: block;
  // width: 260px;
  // height: 195px;
  background-color: #efefef;
}

.catalog-item__body {
  padding: 0 27px;
  padding-top: 26px;
  outline: 1px solid #ececec;
  // outline: 1px solid blue;
  // color: red;
}

.catalog-item:hover .catalog-item__body {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:active .catalog-item__body {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.catalog-item__title {
  @include h2-title(17px, 24px);
  margin: 0;
  // color: red;
}

.catalog-item__link {
  text-decoration: none;
  border-bottom: none;
  color: $textbrand-color;
  // color: red;
}

.catalog-item__info {
  margin: 0;
  margin-top: 6px;
  font-size: 13px;
  line-height: 30px;
}

.catalog-item__price-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 19px;
  padding-top: 21px;
  padding-bottom: 27px;
  border-top: 1px solid #ececec;
  // border-top: 1px solid red;
}

.catalog-item__price {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}

.catalog-item__to-cart {
  display: block;
  font-size: 0;
  width: 21px;
  height: 18px;
}

.catalog-item__icon-cart {
  &:hover {
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .catalog-item {
    display: flex;
    margin-bottom: 54px;
  }

  .catalog-item__header {
    width: 50%;
  }

  .catalog-item__picture {
    width: 334px;
    height: 334px;
  }
  //
  // .catalog-item__image {
  //   width: 334px;
  //   height: 334px;
  // }

  .catalog-item__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-top: 26px;
    box-sizing: border-box;
  }

  .catalog-item__title {
    width: 230px;
    font-size: 20px;
  }

  .catalog-item__info {
    width: 230px;
    margin-bottom: auto;
    font-size: 15px;
  }

  .catalog-item__price-list {
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 23px;
  }

  .catalog-item__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    flex-direction: column;
    margin-right: 50px;
    margin-bottom: 50px;
  }

  .catalog-item__header {
    width: 100%;
  }

  .catalog-item__picture {
    width: 316px;
    height: 462px;
  }

  .catalog-item__image {
    // width: 316px;
    // height: 462px;
  }

  .catalog-item__body {
    flex-grow: 1;
    width: 100%;
  }

  .catalog-item__price-list {
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 0;
  }
}
