.contacts {
  margin-top: 35px;
}

.contacts__wrapper {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 37px;
  padding: 0 30px;
  outline: 1px solid black;
  opacity: 0.7;
}

.contacts__title {
  @include h2-title(18px, 30px);
  margin: 0;
  color: red;
}

.contacts__cell {
  display: flex;
  margin-top: 26px;
  margin-bottom: 29px;
  color: red;
}

.contacts__field {
  width: 60px;
  margin-right: 16px;
  background-color: blue;
}

.contacts__value {
  background-color: orange;

  &--link {
    @include font-link;
    color: red;
    flex-grow: 1;
  }

  &--multiline {
    width: 180px;
    margin: 0;
  }
}

.contacts__map {
  width: 320px;
  margin: 0 auto;
  line-height: 0;
  outline: 1px solid red;
}

.contacts__map-image {
  height: 457px;
}

.contacts__button-feedback {
  @include button;
  width: 256px;
  margin: 39px auto;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-top: 45px;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    margin-bottom: 27px;
    padding: 0 50px;
    padding-top: 1px;
    background-image: url("../img/icon-flag.svg");
    background-size: 46px 81px;
    background-repeat: no-repeat;
    background-position: top right 54px;
  }

  .contacts__title {
    @include h2-title(43px, 50px);
    width: 100%;
    margin-top: 14px;
    color: red;
    background-color: pink;
  }

  .contacts__cell {
    width: 50%;
    margin-top: 50px;
    font-size: 17px;
  }

  .contacts__value--multiline {
    flex-grow: 1;
  }

  .contacts__map {
    width: 768px;
  }

  .contacts__button-feedback {
    @include button;
    width: 226px;
    margin: 55px auto;
    margin-bottom: 57px;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    width: 1050px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 104px;
    padding: 0 100px;
    outline: 1px solid green;
  }

  .contacts__wrapper {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0;
    padding: 0;
    padding-left: 175px;
    background-position: top 62px left 63px;
  }

  .contacts__title {
    @include h2-title(53px, 57px);
    margin-top: 70px;
    margin-bottom: 48px;
    color: red;
  }

  .contacts__cell {
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .contacts__value--link {
    flex-grow: 0;
  }

  .contacts__map {
    width: 50%;
  }

  .contacts__button-feedback {
    position: relative;
    z-index: 2;
    margin-top: -52px;
    margin-bottom: 0;
    margin-left: 175px;
  }
}
