.hit {
  width: 81.25%;
  margin: 0 auto;
  // padding: 0 30px;
  padding-top: 27px;
  padding-bottom: 35px;
  // opacity: 0.7;
  // outline: 1px solid green;
}

.hit__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  // color: red;
}

.hit__flag {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $brand-color;
  // color: red;
}

.hit__definition {
  margin: 0;
  margin-top: 18px;
  font-size: 15px;
  line-height: 24px;
}

.hit__table {
  width: 100%;
  margin-top: 16px;
  font-size: 15px;
  line-height: 20px;
  border-collapse: collapse;
  // background-color: green;
}

.hit__table-cell {
  padding: 0;
  padding-top: 11px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ececec;
  // border-bottom: 1px solid red;
}

.hit__table-cell--value {
  padding-left: 17px;
}

// .hit__value {
//   width: 100%;
//   padding-left: 27px;
// }

.hit__image {
  display: block;
  width: 260px;
  height: 315px;
  margin: 0 auto;
  margin-top: 30px;
}

.hit__price {
  display: block;
  margin-top: 24px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.hit__order-button {
  @include button(17px);
  margin-top: 27px;
}

@media (min-width: $tablet-width) {
  .hit {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 86.979%;
    max-width: 1050px;
    min-height: 610px;
    // padding: 0 50px;
    padding-top: 46px;
    padding-bottom: 52px;
  }

  .hit__header {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hit__title {
    font-size: 43px;
    line-height: 50px;
    // color: red;
  }

  .hit__flag {
    width: 125px;
    margin-top: 5px;
    line-height: 17px;
    text-align: center;
  }

  .hit__definition {
    // width: 291px;
    width: 43.56287%;
    margin-top: 50px;
    font-size: 17px;
    line-height: 30px;
    // background-color: yellow;
  }

  .hit__table {
    // width: 291px;
    width: 43.56287%;
    margin-top: 35px;
  }

  .hit__table-cell {
    padding-top: 10px;
    padding-bottom: 9px;
  }

  .hit__table-cell--value {
    padding-left: 0;
  }

  .hit__image {
    position: absolute;
    z-index: 1;
    top: 123px;
    // right: 50px;
    right: 0;
    width: 334px;
    height: 404px;
    // background-color: blue;
  }

  // .hit__footer {
  //   position: relative;
  //   width: 291px;
  //   margin-top: -112px;
  //   background-color: pink;
  // }

  .hit__price {
    // width: 291px;
    width: 43.56287%;
    // margin-top: 56px;
    margin-top: auto;
    font-size: 20px;
  }

  .hit__order-button {
    // width: 287px;
    // width: 43.56287%;
    width: 42.96407%;
    margin-top: 35px;
  }
}

@media (min-width: $desktop-width) {
  .hit {
    // width: 1050px;
    // padding: 0 100px;
    width: 84%;
    min-height: 783px;
    padding-top: 125px;
    padding-bottom: 74px;
  }

  .hit__header {
    justify-content: flex-start;
    align-items: center;
    // background-color: lightpink;
  }

  .hit__title {
    order: 2;
    font-size: 53px;
    line-height: 57px;
    // color: red;
  }

  .hit__flag {
    order: 1;
    margin-left: 20px;
    margin-right: 25px;
    // margin-right: 42px;
    // margin-left: -138px;
  }

  .hit__definition {
    width: 27.8095%;
    margin-left: 175px;
  }

  .hit__table {
    width: 27.8095%;
    margin-top: 48px;
    margin-left: 175px;
  }

  .hit__table-cell {
    padding-top: 11px;
  }

  .hit__image {
    width: 525px;
    height: 636px;
    margin-top: -51px;
  }

  .hit__price {
    // margin-top: 109px;
    width: 27.8095%;
    margin-left: 175px;
  }

  .hit__order-button {
    width: 27.8095%;
    margin-left: 175px;
  }
}
