.page-header {
  // position: relative;
  // opacity: 0.5;
  border-bottom: 1px solid rgba(68, 68, 68, 0.1);
}

.page-header__wrapper {
  position: relative;
  // width: 260px;
  margin: 0 auto;
  // padding: 0 30px;
  font-size: 17px;
  line-height: 24px;
  // outline: 1px solid black;
}

.page-header__logo {
  display: block;
  // width: 86px;
  // height: 35px;
  padding-top: 22px;
  padding-bottom: 22px;
  line-height: 0;
  text-align: center;
  // background-color: red;
}

.page-header__logo-image {
  // width: 100%
  width: 86px;
  height: 35px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo-mobile {
  fill: #000000;
}

.page-header__logo-tablet {
  &--decor {
    fill: #000000;
  }

  &--text {
    fill: #ffffff;
  }
}

.page-header__logo-desktop {
  &--decor {
    fill: #000000;
  }

  &--text {
    fill: #ffffff;
  }
}
// .page-header__logo-tablet,
// .page-header__logo-desktop {
//   display: none;
// }

.page-header__toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 21px;
  height: 20px;
  margin: auto 9.375%;
  font-size: 0;

  // background-color: orange;
  background: url("../img/icon-menu-close.svg") no-repeat;
  border: none;
  outline: none;
}

.page-header__toggle--closed {
  width: 20px;
  height: 14px;
  background: url("../img/icon-menu-open.svg") no-repeat;
}

.page-header__note {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    background: linear-gradient(to bottom, #ffffff 88px, #e7e7e7 88px, #e7e7e7 89px, #f9f9f9 89px);
    // background: linear-gradient(to bottom, lightblue 88px, #e7e7e7 88px, #e7e7e7 89px, #f9f9f9 89px);
    border-bottom: none;

    &--inner-page {
      background: linear-gradient(to bottom, #ffffff 88px, #e7e7e7 88px, #e7e7e7 89px, #f1f1f1 89px);
    }
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // width: 668px;
    width: 87%;
    max-width: 1050px;
    // padding: 0 50px;
  }

  .page-header__logo {
    // width: 113px;
    // height: 46px;
    margin: auto 0;
    // padding: 0;
  }

  .page-header__logo-image {
    width: 113px;
    height: 46px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__note {
    order: 5;
    display: block;
    padding-top: 18px;
    font-size: 15px;
    // color: red;
    // background-color: darkorange;
  }
}


@media (min-width: $desktop-width) {
  .page-header__wrapper {
    // width: 1050px;
    // padding: 0 100px;

    // &--inner-page {
    //   padding: 0 50px;
    // }
  }

  .page-header__logo {
    order: 2;
    // width: 149px;
    // height: 72px;
    margin-left: -64px;
    padding: 0;
  }

  .page-header__logo-image {
    width: 149px;
    height: 72px;
  }
}

// .page-header__logo-mobile {
//   fill: red;
//   stroke: red;
//   opacity: 0.5;
// }
//
// .page-header__logo-image svg {
//   fill: blue;
//   stroke: blue;
// }
