.production {
  width: 260px;
  margin: 0 auto;
  margin-top: 34px;
  margin-bottom: 57px;
  padding: 0 30px;
  opacity: 0.7;
  outline: 1px solid green;
}

.production__wrapper {
  // border: 1px solid #ececec;
  border: 1px solid red;
}

.production__title {
  @include h2-title(17px, 24px);
  margin: 0;
  padding-top: 22px;
  padding-bottom: 25px;
  padding-left: 90px;
  color: red;
}

.production__demo {
  position: relative;
  line-height: 0;
  outline: 1px solid blue;
}

.production__button-play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 102px;
  height: 78px;
  margin: auto;
  font-size: 0;
  cursor: pointer;
  background-color: $brand-color;
  background-image: url("../img/icon-play.svg");
  border: none;
  border-radius: 25%;
}

.production__container {
  margin-bottom: 33px;
  padding-top: 27px;
  padding-right: 33px;
  padding-left: 33px;
}

.production__info {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  color: red;
}

.production__order-button {
  @include button(17px);
  margin-top: 25px;
  color: red;
}


@media (min-width: $tablet-width) {
  .production {
    width: 668px;
    margin-top: 50px;
    margin-bottom: 65px;
    padding: 0 50px;
  }

  .production__wrapper {
    display: flex;
    flex-direction: column;
  }

  .production__title {
    padding-top: 39px;
    padding-left: 105px;
    font-size: 20px;
  }

  .production__demo {
    order: -1;
  }

  .production__image {
    width: 668px;
    height: 455px;
  }

  .production__container {
    margin-bottom: 45px;
    padding-top: 9px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .production__info {
    font-size: 15px;
    line-height: 30px;
  }

  .production__order-button {
    margin-top: 34px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    width: 1050px;
    margin-bottom: 108px;
    padding: 0 50px;
  }

  .production__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .production__title {
    width: 230px;
    margin-right: 58px;
    padding-top: 100px;
    padding-left: 0;
  }

  .production__image {
    width: 682px;
  }

  .production__container {
    width: 230px;
    margin-top: -275px;
    margin-right: 57px;
    margin-left: auto;
    padding: 0;
  }

  .production__order-button {
    margin-top: 47px;
  }
}
